@charset "UTF-8";
body,html{
margin:0;
padding:0;
width:100%;
}
.form_changePwd > h2{
font-family: jua;
}
.form_changePwd{
border: 9px solid #fabe00;
width: 620px;
height: 524px;
border-radius: 70px 70px 70px 70px;
margin: 0 auto;
text-align: center;
}
/* 니즈 잇 로고 이미지 */
.logo_changePwd{
padding-top: 20px;
width: 260px;
filter: drop-shadow(-4px 5px 3px #808080);
padding-bottom: 15px;
}
.input_changePwd{
border: 3px solid #fabe00;
border-radius: 7px 7px 7px 7px;
height: 30px;
width: 550px;
font-size: 20px;
margin-bottom: 15px;
outline:none;
}
.button_changePwd{
padding-top: 5px;
padding-left:20px;
height: 50px;
padding-bottom: 10px;
}
.login_button_changePwd{
float:left;
width: 93%;
height: 40px;
text-align: center;
line-height: 45px;
margin-left: 10px;
font-size: 25px;
border-radius: 7px 7px 7px 7px;
color: white;
background-color: #fabe00;
font-family: jua;
outline: none;
cursor: pointer;
}
/* 비밀번호 일치 여부 */
.form_changePwd div.alert-danger_changePwd{ /* 비밀번호 재확인 불일치 */
display: none;
font-size: 12px;
margin: -10px 8px 10px;
color:red;
}
.form_changePwd div.alert-success_changePwd{ /* 비밀번호 재확인 일치 */
display: none;
font-size: 12px;
margin: -10px 8px 10px;
color:#009BFA;
}