@charset "UTF-8";
.font_jua {
font-family: 'Jua', sans-serif;
color: black;
}
html,
body {
width: 100%;
padding: 0;
margin: 0;
}
.header{    
width: 100%;
height: 6.5rem;
}
.left-bar{
float: left;
width: 13%;
height: 100vh;
border-right: 1px solid gainsboro;
}
.section{
width: 87%;
float: left;
height: 100vh;
}
.cate_Managerheader {
color: rgb(141, 141, 141);
height: 35px;
line-height: 35px;
border-bottom: 1px solid rgb(141, 141, 141);
padding-left: 15px;
}
.title_Managerheader {
font-size: 30px;
font-family: jua;
margin-top: 30px;
padding-bottom: 10px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
border-bottom: 3px solid black;
}
/* 텍스트 입력 */
.badTextArea {
width: 1500px;
height: 550px;
/* border: 2px solid #ddd; */
position: relative;
left: 50px;
top: 10px;
display: block;
resize: none;
}
.second-title {
font-size: 20px;
font-family: 'jua';
margin-left: 30px;
}
.third-title {
font-size: 18px;
font-family: 'jua';
margin-left: 50px;
color: black;
}
.introduction {
font-size: 15px;
color: darkgray;
margin-left: 70px;
}
.tltl {
/* border: 1px solid gray; */
height: 100%;
}
.insert,
.delete {
height: 47%;
margin: 10px;
}
.insertTableArea,
.deleteTableArea {
height: 100%;
width: 60%;
float: left;
overflow: auto;
}
.insertButtonArea,
.deleteButtonArea {
float: left;
height: 100%;
width: 40%;
display: block;
}
.insertTable,
.deleteTable {
width: 100%;
overflow: auto;
}
.insertTable th,
.insertTable td,
.deleteTable th,
.deleteTable td {
border: 2px solid rgb(132, 148, 163);
text-align: center;
height: 40px;
}
.insertTable th {
background-color: aliceblue;
}
.deleteTable th {
background-color: rgb(224, 238, 250);
}
.insertShowTableArea,
.deleteShowTableArea {
width: 100%;
height: 50%;
margin-left: 10px;
}
.insertShowTextarea,
.deleteShowTextarea {
width: 100%;
height: 100%;
overflow: auto;
resize: none;
}
.insertText,
.deleteText {
width: 240px;
height: 40px;
border: none;
text-align: center;
}
.insertButton,
.deleteButton {
width: 140px;
height: 30px;
background-color: white;
border: 2px solid rgb(132, 148, 163);
border-radius: 5px;
position: relative;
top: 50px;
left: 20px;
font-weight: 600;
}
.insertButton:hover {
background-color: whitesmoke;
transition: 300ms;
font-weight: 900;
}
.deleteButton:hover {
background-color: whitesmoke;
transition: 300ms;
font-weight: 600;
}
.clearButton {
background-color: white;
width: 60px;
height: 30px;
position: relative;
top: 50px;
left: 30px;
border-radius: 4px;
}
.clearButton:hover {
background-color: whitesmoke;
transition: 300ms;
font-weight: 600;
color: red;
}
.finalButton,
.finalButton1 {
background-color: whitesmoke;
width: 210px;
height: 30px;
position: relative;
top: 60px;
left: 20px;
border-radius: 4px;
font-weight: 700;
}
.finalButton:hover {
background-color: rgb(219, 215, 215);
transition: 300ms;
font-weight: 600;
color: red;
}
.finalButton1:hover {
background-color: rgb(219, 215, 215);
transition: 300ms;
font-weight: 600;
color: red;
}
.plusButton,
.minusButton {
background-color: white;
width: 30px;
height: 30px;
font-size: large;
font-weight: 600;
text-align: center;
border-radius: 4px;
position: relative;
}
.plusButton:hover {
cursor: pointer;
opacity: 0.4;
}
.minusButton:hover {
cursor: pointer;
opacity: 0.4;
}
.saveButton {
width: 130px;
height: 60px;
font-size: 19px;
background-color: rgb(219, 219, 219);
border-radius: 5px;
text-shadow: 0px -1px 1px rgba(0, 0, 0, 3);
border: 1px solid black;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 3), inset 0 0 2px rgba(255, 255, 255, 3), 0 1px 2px rgba(0, 0, 0, 29);
font-family: sans-serif;
outline-style: none;
cursor: pointer;
position: relative;
top: -100px;
left: 480px;
}
.saveButton:hover {
background-color: rgb(250, 190, 0);
transition: 300ms;
}
.show {
height: 96%;
margin: 10px;
}
.showTableArea {
width: 60%;
height: 100%;
float: left;
overflow: auto;
}
.searchArea {
width: 40%;
height: 100%;
border: 2px solid rgb(132, 148, 163);
float: left;
text-align: center;
}
.searchArea1 {
height: 20%;
border-bottom: 2px solid rgb(132, 148, 163);
}
.searchArea2 {
height: 30%;
border-bottom: 2px solid rgb(132, 148, 163);
}
.searchArea3 {
height: 50%;
}
.chosung {
background-color: white;
width: 50px;
height: 50px;
font-size: large;
font-weight: 600;
text-align: center;
border-radius: 4px;
position: relative;
margin: 5px;
opacity: 1;
position: relative;
top: -10px;
}
.chosung:hover {
opacity: 0.4;
}
.showTable {
border: 2px solid rgb(132, 148, 163);
width: 96%;
text-align: center;
}
.showTable th,
.showTable td {
border: 2px solid rgb(132, 148, 163);
text-align: center;
height: 40px;
}
.thWidth {
width: 100px;
}
.pofi {
background-color: rgb(207, 229, 248);
}
.underline {
text-align: center;
box-shadow: inset 0 -2px 0 #b0e0e6;
border-bottom: 3px solid #b0e0e6;
}
.bold {
font-weight: 900;
}
.sb {
border-bottom: 2px solid rgb(132, 148, 163);
height: 40px;
line-height: 40px;
background-color: aliceblue;
}
.searchForm {
position: relative;
top: -20px;
left: 20px;
text-align: justify;
width: 220px;
height: 40px;
}
.searchForm td {
border: 1px solid gray;
}
.searchForm1 {
width: 40px;
height: 40px;
}
.searchInput {
position: relative;
top: -15px;
left: 10px;
width: 210px;
height: 31px;
border-radius: 4px;
}
.searchButton {
position: relative;
top: -15px;
margin-left: 20px;
background-color: white;
width: 60px;
height: 31px;
font-size: medium;
font-weight: 600;
text-align: center;
border-radius: 4px;
position: relative;
border: 2px solid seagreen;
}
.searchButton:hover {
cursor: pointer;
opacity: 0.4;
}
.dateWidth {
left: 70px;
}
.noReact{
width: 1903px;
}
.index_head_Mainhead{
width: 1903px;   
} 
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead{
margin-top: 1.7rem;
/* line-height: 3rem;
margin-right: 0.3rem;
transition-duration:0s; */
}  
.header div.login_box_Mainhead .head_login_Mainhead{
height: 3.6rem;
transition-duration:0s;
width:auto;
padding-left: 10px;
padding-right:10px;
}

.header div.down_p1, div.down_p2{
height: 3.6rem;
transition-duration:0s;
width:91px;
padding-left: 10px;
padding-right:10px;
}
.header div.down_p1{
   top:57px;
}

.header div.down_p2{
   top:117px;
}

.header div.down_p1:after, div.down_p2:after,div.down_p1:before, div.down_p2:before{
height:25px;
}

.header div.down_p1:after, div.down_p2:after{
   right:9px;
}