@charset "UTF-8";
.font_jua {
font-family: 'Jua', sans-serif;
color: black;
}    
html,
body {
width: 100%;
padding: 0;
margin: 0;
}
.header {
width: 100%;
height: 6.5rem;
}
.left-bar {
float: left;
width: 13%;
height: 100vh;
border-right: 1px solid gainsboro;
}
.section {
width: 87%;
float: left;
height: 100vh;
}
.cate_Managerheader {
color: rgb(141, 141, 141);
height: 35px;
line-height: 35px;
border-bottom: 1px solid rgb(141, 141, 141);
padding-left: 15px;
}
.title_Managerheader {
font-size: 30px;
font-family: jua;
margin-top: 30px;
padding-bottom: 10px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
border-bottom: 3px solid black;
}
/* 전체 div */
.content_MemberManager {
width: 100%;
padding: 57px 0 125px 0;
}
.content_MemberManager .layoutSubbox_MemberManager {
position: relative;
width: 1320px;
margin: 0 auto;
}
.searchbox_MemberManager {
position: relative;
width: 1320px;
margin: 0 auto;
}
.content_MemberManager .layoutSubbox_MemberManager:after {
content: "";
display: block;
clear: both;
}
.seaerch_save_button {
width: 80px;
font-size: 19px;
background-color: rgb(219, 219, 219);
border-radius: 5px;
text-shadow: 0px -1px 1px rgba(0, 0, 0, 3);
border: 1px solid black;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 3), inset 0 0 2px rgba(255, 255, 255, 3), 0 1px 2px rgba(0, 0, 0, 29);
font-family: sans-serif;
outline-style: none;
cursor: pointer;
position: absolute;
top: 130px;
left: 1720px;
}
.seaerch_save_button:hover {
transition: 300ms;
background-color: rgb(250, 190, 0);
}
/* 텍스트 입력 */
.mainItself {
width: 1500px;
height: 650px;
border: 1px solid #ddd;
position: relative;
left: 50px;
top: 10px;
display: block;
text-align: center;
}
.second-title {
font-size: 20px;
font-family: 'jua';
margin-left: 30px;
}
.third-title {
font-size: 18px;
font-family: 'jua';
margin-left: 50px;
color: black;
}
.introduction {
font-size: 15px;
color: #ddd;
margin-left: 70px;
}
.specialJumun1 {
border-bottom: 0px;
border-right: 0px;
text-align: center;
font-size: 25px;
width: 750px;
height: 80px;
background-color: rgb(200, 200, 200);
box-shadow: gray;
}
.specialJumun2 {
text-align: center;
}
.jumun {
width: 1500px;
height: 50px;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #ddd;
border-bottom: 2px solid #ddd;
position: relative;
left: 50px;
top: 10px;
margin-bottom: 10px;
}
.tableGood {
width: 100%;
height: 100%;
border: 1px solid rgb(200, 200, 200);
text-align: center;
}
table.tableGood th {
border: 1px solid rgb(200, 200, 200);
text-align: center;
background-color: #ddd;
}
table.tableGood td {
border: 1px solid rgb(200, 200, 200);
width: 25%;
}
.heightGood {
height: 20%;
font-size: 25px;
}
.textGood {
width: 320px;
height: 280px;
text-align: center;
resize: none;
background-color: beige;
}
.person {
background-color: rgba(221, 221, 221, 0.815);
}
.text1{
font-size: 15px;
}
.text2,
.text3 {
display: none;
font-size: 15px;
}
.spAlign{
text-align: justify;
padding-left: 100px;
}
.centerAlign.option{
text-align: center;
}
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead{
margin-top: 1.5rem;
line-height: 3rem;
margin-right: 0.3rem;
}
.header div.login_box_Mainhead .head_login_Mainhead{
height: 3.6rem;
width: 8.6rem;
}
.noReact{
width: 1903px;
}
.index_head_Mainhead{
width: 1903px;	
}