@charset "UTF-8";
.header {
width: 100%;
height: 6.5rem;
/* background-color: aqua; */
}
.left-bar {
float: left;
width: 13%;
height: 100vh;
border-right: 1px solid gainsboro;
}
.section {
width: 87%;
float: left;
height: 100vh;
font-size : 100px;
}
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead{
margin-top: 1.7rem;
/* line-height: 3rem;
margin-right: 0.3rem;
transition-duration:0s; */
}  
.header div.login_box_Mainhead .head_login_Mainhead{
height: 3.6rem;
transition-duration:0s;
width:auto;
padding-left: 10px;
padding-right:10px;
}

.header div.down_p1, div.down_p2{
height: 3.6rem;
transition-duration:0s;
width:91px;
padding-left: 10px;
padding-right:10px;
}
.header div.down_p1{
   top:57px;
}

.header div.down_p2{
   top:117px;
}

.header div.down_p1:after, div.down_p2:after,div.down_p1:before, div.down_p2:before{
height:25px;
}

.header div.down_p1:after, div.down_p2:after{
   right:9px;
}