@charset "UTF-8";
 /* jua 폰트 */
         .font_jua{
         font-family: 'Jua', sans-serif;
         color: black;
         }
         html,
         body {
         width: 100%;
         padding: 0;
         margin: 0;
         }
         .header{    
         width: 100%;
         height: 6.5rem;;
         }
         .left-bar{
         float: left;
         width: 13%;
         height: 100vh;
         border-right: 1px solid gainsboro;
         }
         .section{
         width: 87%;
         float: left;
         height: 100vh;
         }
         .cate_Managerheader{
         color:rgb(141, 141, 141);
         height: 35px;
         line-height: 35px;
         border-bottom: 1px solid rgb(141, 141, 141);
         padding-left: 15px;
         }
         .title_Managerheader {
         font-size: 30px;
         font-family: jua;
         margin-top: 30px;
         padding-bottom: 10px;
         margin-bottom: 10px;
         margin-left: 20px;
         margin-right: 20px;
         border-bottom: 3px solid black;
         }
         /* 전체 div */
         .content_MemberManager {
         width: 100%;
         padding: 57px 0 125px 0;
         }
         .content_MemberManager .layoutSubbox_MemberManager{
         position: relative;
         width: 1320px;
         margin: 0 auto;
         }
         .content_MemberManager .layoutSubbox_MemberManager:after {
         content: "";
         display: block;
         clear: both;
         }
         #table04{
         border-bottom: 1px solid #E2E2E2;
         letter-spacing: 0.15rem;
         border-top: 2px solid #e2e2e2;
         font-size: large;
         }
         #table04>tbody>tr>td{
         vertical-align: middle;
         }
         .btn04-div04{
         text-align: center;
         letter-spacing: 5rem;
         }
         /*상단부분*/
         .main-top04{
         width: 160rem;
         height: 35rem;
         margin-left: 2rem;
         position: relative;
         overflow: hidden;
         margin-top: 4rem;
         }
         /*전환*/
         .btn04 {
         background-color: rgb(141, 141, 141);
         border: none;
         color: white;
         font-size: 2.5rem;
         opacity: 0.6;
         transition: 0.3s;
         text-decoration: none;
         cursor: pointer;
         border-radius: 10px;
         width: 7rem;
         height: 5rem;
         box-shadow: inset 0 1px 0 rgb(255 255 255), inset 0 0 2px rgb(255 255 255), 0 1px 2px rgb(0 0 0);
         }
         .btn04:hover{
         opacity: 1;
         }
         .table > tbody > tr > td{
         vertical-align: bottom;
         }
         *:focus { outline:none; }
         .top-btn:hover {opacity: 1}
         /* 반응형~ */
         @media (max-width: 1360px) {
         /* 사이드 여백 */
         .content_MemberManager .layoutSubbox_MemberManager {
         width: auto;
         margin: 0 20px;
         }
         }
         /*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
         .header div.login_box_Mainhead{
         margin-top: 1.5rem;
         line-height: 3rem;
         margin-right: 0.3rem;
         }
         .header div.login_box_Mainhead .head_login_Mainhead{
         height: 3.6rem;
         width: 8.6rem;