@charset "UTF-8";
/* jua 폰트 */
.font_jua {
	font-family: 'Jua', sans-serif;
	color: black;
}

html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	height: 6.5rem;
}

.left-bar {
	float: left;
	width: 13%;
	height: 110.5rem;
	border-right: 1px solid gainsboro;
}

.section {
	width: 87%;
	float: left;
	height: 100vh;
}

.cate_Managerheader {
	color: rgb(141, 141, 141);
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid rgb(141, 141, 141);
	padding-left: 15px;
}

.title_Managerheader {
	font-size: 30px;
	font-family: jua;
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid black;
}
/* 전체 div */
.content_MemberManager {
	width: 100%;
	padding: 57px 0 125px 0;
}

.content_MemberManager .layoutSubbox_MemberManager {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.content_MemberManager .layoutSubbox_MemberManager:after {
	content: "";
	display: block;
	clear: both;
}

.main-section {
	height: 100vh;
}
/*결제섹션 상단부분*/
.payment-main-03 {
	width: 160rem;
	height: 100%;
	margin-left: 2rem;
	position: relative;
	overflow: hidden;
}
/*테이블의 첫번째 td*/
.first-td {
	width: 25rem;
	background-color: #F5F5F5;
}
/*글자크기*/
.first-table-p {
	font-size: x-large;
	margin: auto 0;
	letter-spacing: 0.2rem;
	display: inline;
}
/*원 글자크기*/
.secondTd-span {
	font-size: x-large;
}
/*second-td*/
.second-td {
	width: 25rem;
	text-align: right;
}
/*글자 수직중앙*/
#table03>tbody>tr>td {
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}
/*글자색*/
.last-text-color {
	color: #9E9E9E;
}

#bottom-tabel {
	border-bottom: 1px solid #E2E2E2;
	letter-spacing: 0.15rem;
	vertical-align: middle;
}

.bottom03-td1 {
	width: 8rem;
}

.bottom03-td3, .bottom-td4 {
	width: 13rem;
}

.bottom03-td7, .bottom-td8 {
	width: 20rem;;
}
/*thead*/
.bottom-table-thead {
	background-color: #E2E2E2;
}
/*테이블높이*/
#table03 {
	height: 40rem;
}
/*총금액*/
#total-pay {
	color: red;
}
/*주문번호 색*/
.num03 {
	font-size: large;
	color: gray;
}

#lastTable03 {
	border-bottom: 1px solid #E2E2E2;
}
/*환불사유 테이블*/
#lastTable03>tbody>tr>td {
	height: 25rem;
	vertical-align: middle;
}

.btn03-div {
	text-align: center;
	letter-spacing: 5rem;
}
/*환불버튼*/
.btn03 {
	background-color: rgb(141, 141, 141);
	border: none;
	color: white;
	font-size: 2.5rem;
	opacity: 0.6;
	transition: 0.3s;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	width: 7rem;
	height: 5rem;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255), inset 0 0 2px
		rgb(255, 255, 255), 0 1px 2px rgb(0, 0, 0);
}

.btn03:hover {
	opacity: 1;
}

*:focus {
	outline: none;
}

.top-btn:hover {
	opacity: 1
}
/* 반응형~ */
@media ( max-width : 1360px) {
	/* 사이드 여백 */
	.content_MemberManager .layoutSubbox_MemberManager {
		width: auto;
		margin: 0 20px;
	}
}
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead {
	margin-top: 1.7rem;
	/* line-height: 3rem;
margin-right: 0.3rem;
transition-duration:0s; */
}

.header div.login_box_Mainhead .head_login_Mainhead {
	height: 3.6rem;
	transition-duration: 0s;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.header div.down_p1, div.down_p2 {
	height: 3.6rem;
	transition-duration: 0s;
	width: 91px;
	padding-left: 10px;
	padding-right: 10px;
}

.header div.down_p1 {
	top: 57px;
}

.header div.down_p2 {
	top: 117px;
}

.header div.down_p1:after, div.down_p2:after, div.down_p1:before, div.down_p2:before
	{
	height: 25px;
}

.header div.down_p1:after, div.down_p2:after {
	right: 9px;
}