@charset "UTF-8";
/* jua 폰트 */
.font_jua {
	font-family: 'Jua', sans-serif;
	color: black;
}

html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	height: 6.5rem;
}

.left-bar {
	float: left;
	width: 13%;
	height: 100vh;
	border-right: 1px solid gainsboro;
}

.section {
	width: 87%;
	float: left;
	height: 100vh;
}

.cate_Managerheader {
	color: rgb(141, 141, 141);
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid rgb(141, 141, 141);
	padding-left: 15px;
}

.title_Managerheader {
	font-size: 30px;
	font-family: jua;
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid black;
}
/* 전체 div */
.content_MemberManager {
	width: 100%;
	padding: 57px 0 125px 0;
}

.content_MemberManager .layoutSubbox_MemberManager {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.content_MemberManager .layoutSubbox_MemberManager:after {
	content: "";
	display: block;
	clear: both;
}
/*결제섹션 상단부분*/
.payment-main-top {
	width: 160rem;
	height: 35rem;
	margin-left: 2rem;
	position: relative;
	overflow: hidden;
}
/*결제섹션 하단부분*/
.payment-main-bottom {
	width: 160rem;
	height: 50rem;
	margin-left: 2rem;
	position: relative;
}
/*결제섹션 타이틀*/
.top-title {
	padding-top: 1rem;
}
/*테이블*/
.top-table {
	height: 15rem;
}
/*테이블의 첫번째 td*/
.first-td {
	width: 25rem;
	background-color: #F5F5F5;
}
/*테이블의 첫번째 td의 글자*/
.top-table-p {
	font-size: x-large;
	margin: auto 0;
	letter-spacing: 0.2rem;
	line-height: 2.5;
}

.radio-lable {
	font-size: 1.8rem;
	margin-right: 10px;
	letter-spacing: 0.1rem;
}
/*마진값 따로주기위해 아이디로사용*/
#top-table-p {
	margin-top: 8px;
}
/*첫번째 셀렉트박스*/
#first-select {
	letter-spacing: 0.2rem;
	width: 15rem;
	display: inline-block;
	margin-left: 3rem;
	font-size: 2rem;
	height: 3.9rem;
}
/*첫번째 폼태그*/
#first-input {
	width: 70rem;
	display: inline-block;
	padding-bottom: 1.7rem;
	padding-top: 1.95rem;
	margin-top: 16px;
}
/*두번째 셀렉트박스*/
#second-select {
	letter-spacing: 0.2rem;
	width: 15rem;
	display: inline-block;
	margin-left: -10rem;
	font-size: 2rem;
	height: 3.9rem;
}
/*두번째 폼태그*/
#second-input {
	width: 18rem;
	margin-left: 3rem;
	display: inline-block;
	padding-bottom: 1.7rem;
	padding-top: 1.95rem;
}

#second-input-2 {
	width: 18rem;
	margin-left: 0;
	display: inline-block;
	padding-bottom: 1.7rem;
	padding-top: 1.95rem;
}
/*date span*/
.date-span {
	font-size: 2rem;
}
/*검색버튼*/
.top-btn {
	background-color: rgb(141, 141, 141);
	border: none;
	color: white;
	text-align: center;
	font-size: 2.5rem;
	margin: 5px 80rem;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	width: 7rem;
	height: 5rem;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255), inset 0 0 2px
		rgb(255, 255, 255), 0 1px 2px rgb(0, 0, 0);
}
/*바텀테이블*/
#bottom-tabel {
	border-bottom: 1px solid #E2E2E2;
	letter-spacing: 0.15rem;
}
/*bottom-td*/
.table>tbody>tr>td {
	vertical-align: middle;
}

.bottom-td1 {
	width: 8rem;
}

.bottom-td2 {
	width: 12rem;
}

.bottom-td3, .bottom-td4 {
	width: 13rem;
}

.bottom-td5 {
	width: 18rem;
}

.bottom-td7, .bottom-td8 {
	width: 15rem;
}
/*thead*/
.bottom-table-thead {
	background-color: #E2E2E2;
}
/*table-input*/
.table-input {
    line-height: 3;
}

*:focus {
	outline: none;
}

.top-btn:hover {
	opacity: 1
}
/* 반응형~ */
@media ( max-width : 1360px) {
	/* 사이드 여백 */
	.content_MemberManager .layoutSubbox_MemberManager {
		width: auto;
		margin: 0 20px;
	}
}
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead {
	margin-top: 1.7rem;
	/* line-height: 3rem;
margin-right: 0.3rem;
transition-duration:0s; */
}

.header div.login_box_Mainhead .head_login_Mainhead {
	height: 3.6rem;
	transition-duration: 0s;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.header div.down_p1, div.down_p2 {
	height: 3.6rem;
	transition-duration: 0s;
	width: 91px;
	padding-left: 10px;
	padding-right: 10px;
}

.header div.down_p1 {
	top: 57px;
}

.header div.down_p2 {
	top: 117px;
}

.header div.down_p1:after, div.down_p2:after, div.down_p1:before, div.down_p2:before
	{
	height: 25px;
}

.header div.down_p1:after, div.down_p2:after {
	right: 9px;
}


#refundPage {
	display: block;
	text-align: center;
}

#refundPage>li>a {
	float: none;
	margin-left: -0.5rem;
}

#pag{
	display:block;
	text-align : center;
	font-size: 2rem;
}

#pag > li > a{
	float : none;
	margin-left:-5px;
}

#priceRed{
	color : red;
}

#trtr{
	height: 5rem;
    font-size: large;
}

#tdtd{
	vertical-align: middle;
}