@charset "UTF-8";
html,body {
	width:100%;
	padding:0;
	margin:0;
}
.header {
	width:100%;
	height:6.5rem;
}
.left-bar {
	float:left;
	width:13%;
	height:100vh;
	border-right:1px solid gainsboro;
}
.section {
	width:87%;
	float:left;
	height:100vh;
}
.cate_Managerheader {
	color:rgb(141,141,141);
	height:35px;
	line-height:35px;
	border-bottom:1px solid rgb(141,141,141);
	padding-left:15px;
}
.title_Managerheader {
	font-size:30px;
	font-family:jua;
	margin-top:30px;
	padding-bottom:10px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	border-bottom: 3px solid black;
}
/* 전체 div */
.content_mUserList {
	width:100%;
	padding:57px 0 125px 0;
}
.content_mUserList .layoutSubbox_mUserList {
	position:relative;
	width:1320px;
	margin:0 auto;
}
.searchhbox_mUserList {
	position:relative;
	width:1320px;
	margin:0 auto;
}
.content_mUserList .layoutSubbox_mUserList:after {
	content:"";
	display:block;
	clear: both;
}
/* 비밀번호 입력 div */
.dataInform_mUserList .inform_mUserList {
	width:100%;
	overflow: hidden;
}
/*검색버튼*/
.searchhBtn_mUserList {
	margin:-3px 14px 0px 0;
	padding-bottom:8px;
}
.main-section {
	margin:0 auto;
}
.searchhBtn_mUserList .btn_searchh_mUserList:hover {
	background-color:#fabe00;
	font-weight:600;
	color: white;
}
/* 회원 리스트 table */
table.type07 {
	border-collapse:collapse;
	text-align:left;
	line-height:1.5;
	margin:20px auto;
}
table.type07 thead {
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	background:#bcbcbc;
}
table.type07 thead th {
	padding:10px;
	font-weight:bold;
	vertical-align:top;
	color:#fff;
	border:1px solid #ccc;
	text-align:center;
}
table.type07 td {
	width:180px;
	padding:10px;
	vertical-align:top;
	border-bottom:1px solid #ccc;
	border:1px solid #ccc;
	text-align:center;
}
.id_text_mUserList {
	font-size:12px;
}
.nickname_text_mUserList {
	color:cornflowerblue;
	font-size: 13px;
}
/* 반응형~ */
@media (max-width:1360px) {
	/* 사이드 여백 */
	.content_mUserList .layoutSubbox_mUserList,.main-section {
		width:auto;
		margin:0 20px;
	}
}
#shot_table_mUserList {
	width:70px;
}
#midle_table_mUserList {
	width:90px;
}
#long_table_mUserList {
	width:270px;
}
.caption_mUserList {
	text-align:left;
	margin-bottom: 10px;
}
/* 검색결과 숫자 */
.caption_text_mUserList {
	color: red;
}
/* 검색 테이블 */
.searchhbox_table_mUserList {
	margin:15px auto 20px;
	border-top:1px solid rgb(173,173,173);
	border-collapse: collapse;
}
/* 검색테이블 td */
.searchhbox_table_mUserList td {
	height: 45px;
}
/* 검색테이블 th,td */
.searchhbox_table_mUserList th,td {
	border-bottom:1px solid rgb(173,173,173);
	border-collapse: collapse;
}
/* 검색 테이블 주제 */
.searchtable_title_mUserList {
	width:140px;
	text-align:left;
	padding-left:10px;
	font-size:20px;
	background-color: rgb(236,236,236);
}
/* 검색 테이블 요소*/
.searchtable_content_mUserList {
	width:1130px;
	text-align:left;
	padding-left: 10px;
}
/* 아이디,등급,이름,닉네임 목록 */
.bdbox_mUserList {
	width:140px;
	font-size:17px;
	height:30px;
	outline-style: none;
}
/* 검색창 */
.searchtext_mUserList {
	width:450px;
	font-size:17px;
	height:28px;
	margin-left:20px;
	outline-style: none;
}
/* 체크박스 */
.checkbox_mUserList {
	font-size:22px;
	float:left;
	margin-left: 16px;
}
/* 체크박스 크기 */
.checkboxes_mUserList {
	zoom:1.5;
	padding-right:5px;
}
.Admin_grant_Managerheader {
	position:relative;
	width:1320px;
	margin: 0 auto;
}
/* 검색버튼 */
.seaerch_button_PersnalAccess {
	width:180px;
	font-size:19px;
	background-color:rgb(219,219,219);
	border-radius:5px;
	text-shadow:0px -1px 1px rgba(0,0,0,3);
	border:1px solid black;
	box-shadow:inset 0 1px 0 rgba(255,255,255,3),inset 0 0 2px rgba(255,255,255,3),0 1px 2px rgba(0,0,0,29);
	font-family:sans-serif;
	outline-style:none;
	cursor:pointer;
	margin-top:25px;
	margin-bottom:10px;
	margin-left: 14px;
}
/* 관리자 권한부여 버튼 */
.manager_button_PersnalAccess {
	width:180px;
	font-size:19px;
	background-color:rgb(247,167,233);
	border-radius:5px;
	text-shadow:0px -1px 1px rgba(0,0,0,3);
	border:1px solid black;
	box-shadow:inset 0 1px 0 rgba(255,255,255,3),inset 0 0 2px rgba(255,255,255,3),0 1px 2px rgba(0,0,0,29);
	font-family:sans-serif;
	outline-style:none;
	cursor:pointer;
	margin-top:25px;
	margin-bottom:10px;
	margin-right:35px;
	float: right;
}
/* 날짜폼 */
.datepre_wdetail, .datepost_wdetail {
	font-size:18px;
	font-family:sans-serif;
	height:25px;
	margin-right:15px;
	margin-left: 15px;
}
/* 아이디 검색창 */
.select_mybuylist {
	margin-left: 5px;
}
/*!!헤더css 깨짐으로 부트스트랩 쓴 페이지에만 적용하는 코드!!*/
.header div.login_box_Mainhead{
margin-top: 1.7rem;
/* line-height: 3rem;
margin-right: 0.3rem;
transition-duration:0s; */
}  
.header div.login_box_Mainhead .head_login_Mainhead{
height: 3.6rem;
transition-duration:0s;
width:auto;
padding-left: 10px;
padding-right:10px;
}

.header div.down_p1, div.down_p2{
height: 3.6rem;
transition-duration:0s;
width:91px;
padding-left: 10px;
padding-right:10px;
}
.header div.down_p1{
   top:57px;
}

.header div.down_p2{
   top:117px;
}

.header div.down_p1:after, div.down_p2:after,div.down_p1:before, div.down_p2:before{
height:25px;
}

.header div.down_p1:after, div.down_p2:after{
   right:9px;
}
.pagination{    
display: flex;
justify-content: center;
}

.pagination a{
  color: black;
  border-radius: 10px;
  justify-content: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
/* Style the active/current link */
.pagination a.active {background-color: #FABE00; color: white;}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.center{
	position:relative;
	top:0px;
	left:800px;
	text-align: center;
	
}