@charset "UTF-8";
html,
body {
padding: 0;
margin: 0;
/*overflow-x:hidden;*/
}
/* Nav background */
.wrapper_Nav {
height: 80px;
text-align: center;
background: linear-gradient(rgb(255, 211, 66), rgb(250, 190, 0));
}
/* Nav 아이콘 부분 div */
.wrapper_NavIcon {
display: block;
margin: 0 auto;
text-align: center;
font-size: 1.5vw;
}
/* nav bar */
nav li {
list-style: none;
height: 80px;
padding-top: 10px;
box-sizing: border-box;
display: inline-block;
background: linear-gradient(rgb(255, 211, 66), rgb(250, 190, 0));
margin: 0 auto;
width: 86px;
}
nav ul { 
overflow: hidden;
}
.nav_img {
width: 35px;
height: 35px;
}
.nav_icon,
.nav_font {
font-size: 30px;
}
/* a 링크 디자인효과 없애기 */
nav li a {
text-decoration: none;
}
/* Nav 아이콘 마우스 올릴 때 효과 (hover) */
.web_icon:hover {
content: url(../img/webDev-removebg_white.png);
}
.db_icon:hover {
content: url(../img/database_white.png);
}
.phone_icon:hover {
content: url(../img/cell-phone_white.png);
}
.embed_icon:hover {
content: url(../img/embedded_bold2_white.png);
}
.chain_icon:hover {
content: url(../img/blockchain_white.png);
}
.devlop_icon:hover {
content: url(../img/development_white.png);
}
.server_icon:hover {
content: url(../img/server_white.png);
}
.game_icon:hover {
content: url(../img/game_white.png);
}
.security_icon:hover {
content: url(../img/security_white.png);
}
.shop_icon:hover {
content: url(../img/shop_icon_white.png);
}
.analysis_icon:hover {
content: url(../img/analysis_white.png);
}
.quality_icon:hover {
content: url(../img/QA2_white.png);
}
.chatbot_icon:hover {
content: url(../img/PngItem_white.png);
}
.etc_icon:hover {
content: url(../img/etc_white.png);
}
nav li p {
color: black;
font-size: 14px;
margin-top: 0px;
}