@charset "UTF-8";
/* jua 폰트 */
.font_jua {  
font-family: 'Jua', sans-serif;
color: black;
}
/* hanSans 폰트 */
.font_hanSans {
font-family: 'Black Han Sans', sans-serif;
}
/* noto 폰트 */
.font_noto {
font-family: 'Noto Sans KR', sans-serif;
}
body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
a {
text-decoration: none;
}
ul,
li {
list-style: none;
text-align: center;
padding: 0;
margin: 0;
}
/* 최고 부모 div */
.notice_container {
overflow: visible;
position: relative;
width: 1160px;
height: 500px;
margin: 0.1rem auto;
clear: both;
}
/* 제목 부모 div */
.title_area {
float: left;
width: 300px;
}
/* 내용 부모 div */
.content_area {
float: right;
width: 860px;
}
.content_area:before{
content: ' ';
position: absolute;
top: 40px;
left: 250px;
background-color: rgb(250,190,0);
width: 3px;
height: 60px;
}
/* h4 타이틀 div */
.title_text {
padding: 40px 40px 0 0;
font-size: 18px;
line-height: 30px;
color: #1e1e1e;
margin: 0;
vertical-align: top;
}
/* 내용 들어갈 div */
.content_view {
overflow: hidden;
padding: 40px 0 60px;
border-bottom: 3px solid rgb(250,190,0);
line-height: 26px;
}
/* 내용 바로 옆 버튼 div */
.content_view + .content_btn {
padding-top: 20px;
}
/* 이전 / 다음 a태그*/
.btn_design{
border-radius: 10px;    
border: 2px solid #1b1b1b;
color: black;
}
.btn_move {
float: left;
width: 100px;
height: 2.3rem;
margin-right: 10px;
font-size: 1rem;
line-height: 2.3rem;
text-align: center;
text-decoration: none;
background-color: white;
}
.btn_move:hover{
background-color: rgb(250,190,0);
}
/* 목록 a태그 */
.btn_list {
float: right;
width: 100px;
height: 2.3rem;
font-size: 1rem;
line-height: 2.3rem;
background-color: rgb(250,190,0);
text-align: center;
text-decoration: none;
}
.btn_list:hover{
background-color: white;
}
.footer_area{
	margin-top : 50px;
}