@charset "UTF-8";
.content_privacy {
    width: 100%;
    padding: 57px 0 125px 0;
}

.terms_privacy {
    width: 100%;
    overflow: hidden;
}

.content_privacy .layoutSubbox_privacy {
    position: relative;
    width: 1320px;
    margin: 0 auto;
}

.terms_privacy .h2_privacy {
    font-size: 34px;
    color: #272d32;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -1px;
    padding: 0 0 56px 0;
}

.termsSection_privacy {
    width: 100%;
    overflow: hidden;
}

.termsSection_privacy .con_privacy {
    padding-bottom: 35px;
}

.termsSection_privacy .con_privacy .tit_privacy {
    font-size: 17px;
    color: #272d32;
    font-weight: 600;
    line-height: 1.8;
    padding-bottom: 35px;
    letter-spacing: -1px;
}

ol, ul {
    list-style: none;
}

.termsSection_privacy .con_privacy .listNumSty1_privacy > li {
    padding-bottom: 35px;
    font-size: 16px;
    color: #272d32;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: -1px;
}

.termsSection_privacy .tableW_privacy {
    margin: 20px 0;
    overflow: hidden;
}

.table_privacy {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all;
}

.thead_privacy {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.termsSection_privacy .table_privacy th:first-child, .termsSection_privacy .table_privacy td:first-child {
    border-left: 0;
}

.termsSection_privacy .table_privacy th:last-child, .termsSection_privacy .table_privacy td:last-child {
    border-right: 0;
}

.termsSection_privacy .table_privacy th {
    border-top: 1px solid #272d32;
    border-bottom: 1px solid #272d32;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    color: #272d32;
    font-weight: 600;
    line-height: 1.5;
}

.termsSection_privacy .table_privacy td {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #272d32;
    font-weight: 400;
    line-height: 1.5;
}

.termsSection_privacy .small_privacy {
    margin: 20px 0;
    max-width: 500px;
    width: 100%;
}

.table_privacy colgroup {
    display: table-column-group;
}

@media (max-width: 1360px){
    .content_privacy .layoutSubbox_privacy {
        width: auto;
        margin: 0 20px;
    }
}