	body,
    html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    ul,
    li {
      list-style: none;
    }

    .all_wrapper {
      position: relative;
      width: 1246px;
      margin: 40px auto 40px;
      padding: 20px;
      color: #111;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      border-radius: 10px;
      box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.1);
    }

    .all_wrapper:after {
      content: "";
      display: block;
      clear: both;
    }

    .product_container {
      float: left;
      width: calc(100% - 420px);
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #111;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      box-sizing: border-box;
    }

    /* 상품 정보 */
    .product_info {
      margin-bottom: 28px;
      box-sizing: border-box;
    }

    .product_info .product_tag {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .product_info .product_tag li {
      position: relative;
      margin-right: 10px;
      font-size: 14px;
      font-weight: bold;
      color: rgb(250, 190, 0);
      display: list-item;
    }
    
    .product_info .product_tag li:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -6px;
      transform: translateY(-50%);
      width: 2px;
      height: 2px;
      background-color: rgb(250, 190, 0);
    }

    /* 태그 li 마지막 자식 */
    .product_info .product_tag li:last-child {
      margin-right: 0;
    }

    .product_info .product_tag li:last-child:after {
      display: none;
    }

    /* 상품제목 */
    .product_title {
      margin: 6px 0 12px;
      font-size: 30px;
      line-height: 42px;
      font-weight: bold;
      letter-spacing: -0.45px;
      word-break: break-all;
      box-sizing: border-box;
    }

    /* 능력자 프로필 */
    /* 능력자 프로필 사진 */
    .master_img {
      display: inline-block;
      width: 42px;
      height: 42px;
      vertical-align: middle;
    }

    .master_img img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #eee;
      object-fit: cover;
      object-position: center;
      vertical-align: top;
    }

    /* 별명, 별점 */
    .short_info {
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
    }

    .master_nickname {
      display: block;
      font-size: 14px;
      line-height: 19px;
      font-style: normal;
    }

    .master_star {
      display: block;
      text-decoration: none;
    }

    .star_img {
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
    }

    .star_img img {
      width: 100%;
      height: 100%;
    }

    .grade_total {
      font-size: 14px;
      letter-spacing: -0.21px;
      display: inline-block;
      font-style: unset;
      vertical-align: middle;
    }

    .img_area {
      margin: 0 auto;
      width: 650px;
      font-size: 0;
      margin-bottom: 90px;
      border-radius: 10px;
      box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.1);
      padding: 2rem;
    }

    .img_area img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }

    .sec_common {
      display: flex;
      margin-bottom: 100px;
      box-sizing: border-box;
    }

    .p_col_left {
      width: 152px;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
    }

    .p_col_left .col_title {
      font-size: 26px;
      text-align: left;
      line-height: 34px;
      color: #333;
      font-weight: bold;
      word-break: keep-all;
      margin: 0;
      padding: 0;
    }

    .p_col_right {
      margin-left: 60px;
      width: calc(100% - 212px);
    }

    .text_area {
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
      line-height: 24px;
      font-weight: normal;
      letter-spacing: -0.22px;
      word-break: break-all;
    }

    .sns_flex_container {
      display: flex;
    }

    .sns_img_container a:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    .sns_img_container img {
      width: 50%;
    }

    .hr_sns {
      margin: 30px 0px;
    }

    iframe {
      margin: 0 auto;
      width: 570px;
      display: block;
      height: 300px;
      margin-bottom: 30px;
    }

    .refund li {
      font-size: 1rem;
      padding-right: 10px;
    }

    .refund {
      padding: 0;
      margin: 0;
    }

    .refund_h {
      font-weight: 900;
    }

    /* 댓글 */
    .p2p_class_cmt .review_sum {
      border: 1px solid #ddd;
      border-radius: 6px;
    }

    .p2p_class_cmt .cmt_wrap {
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: #111;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
    }

    .p2p_class_cmt .cmt_wrap li {
      display: block;
      padding-top: 13px;
    }

    .p2p_class_cmt .cmt_wrap li .tutee_info {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .p2p_class_cmt .cmt_wrap li .tutee_info .img {
      display: table-cell;
      width: 50px;
      height: 50px;
    }

    .p2p_class_cmt .cmt_wrap li .tutee_info .img img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .p2p_class_cmt .cmt_wrap li .tutee_info .tutee {
      position: relative;
      display: table-cell;
      padding-left: 20px;
      vertical-align: middle;
    }

    /* 댓글 이름 */
    .p2p_class_cmt .cmt_wrap li .tutee_info .tutee .name {
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-weight: 1000;
    }

    /* 댓글 날짜 */
    .p2p_class_cmt .cmt_wrap li .tutee_info .tutee .date {
      position: relative;
    }

    .p2p_class_cmt .cmt_wrap li .tutee_info .tutee .date p {
      font-size: 14px;
      color: #999;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    .p2p_class_cmt .cmt_wrap li .cmt {
      margin: 8px 0 0 72px;
    }

    /********/

    /* 오른쪽 결제창 */
    .sticky_area {
      float: right;
      position: sticky;
      top: 30px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.1);
    }

    .sticky_area.fixed {
      top: 120px;
    }

    .sticky_area .sticky_navi {
      height: 488px;
      padding: 25px 19px 25px 19px;
      border-radius: 6px;
    }

    .sticky_area .sticky_navi h2 {
      font-size: 30px;
      font-weight: bold;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    .schedule_list {
      position: relative;
      margin: 30px 0 25px;
      padding: 0;
    }

    .schedule_list li {
      margin-bottom: 2rem;
    }

    .btn_area {
      display: flex;
      margin-top: 13px;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    .btn_area li.wish {
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }

    .btn_area li.apply {
      width: 230px;
      height: 48px;
      border-radius: 6px;
    }

    .btn_area li.wish button,
    .btn_area li.wish a {
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 6px;
      border: 2px solid rgb(250, 190, 0);
    }

    /* 찜 하트 */
    .fa-heart {
      position: relative;
      top: 13px;
      left: 16px;
      color: rgb(255, 8, 132);
    }

    .btn_area li.apply a {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 0.4px;
      text-align: center;
      color: #fff;
      line-height: 48px;
      text-decoration: none;
      border: 2px solid rgb(250, 190, 0);
      border-radius: 6px;
      background-color: rgb(250, 190, 0);
    }

    /* 채팅 버튼 */
    .btn_area li.apply-2 {
      margin-top: 10px;
      width: 100%;
      height: 48px;
      border-radius: 6px;
    }

    .btn_area li.apply-2 a {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 5px;
      text-align: center;
      color: rgb(250, 190, 0);
      line-height: 48px;
      text-decoration: none;
      border: 2px solid rgb(250, 190, 0);
      border-radius: 6px;
      background-color: white;
    }

    .p_flex {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    /* 요일 */
    .day_list li {
      opacity: 0.2;
      position: relative;
    }

    .day_list li:before {
      content: '';
      position: absolute;
      width: 27px;
      height: 27px;
      border-radius: 6px;
      left: -5px;
      bottom: -2px;
      box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
    }

    .dayOpacity{
      opacity: 1;
    }

    /* 자택, 출장 */
    .job_where li {
      opacity: 0.2;
      position: relative;
    }

    .job_where li:nth-child(1):before {
      content: '';
      position: absolute;
      width: 108px;
      height: 27px;
      border-radius: 6px;
      left: -5px;
      bottom: -2px;
      box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
    }

    .job_where li:nth-child(2):before {
      content: '';
      position: absolute;
      width: 46px;
      height: 27px;
      border-radius: 6px;
      left: -5px;
      bottom: -2px;
      box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
    }

    .btn_m {
      margin-top: 24px;
    }

    .detail_btn {
      text-align: center;
      width: 18px;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .number_change span {
      font-size: 1.5rem;
      font-weight: bold;
    }

    /* 상단 네비게이션 메뉴바 */
    .p2p_class_nav {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      border-bottom: 1px solid #eee;
      height: 95px;
      transition: all 0.5s ease-in;
      background-color: #fff;
      opacity: 0;
      transition: all 1s ease-in;
    }

    .p2p_class_nav.fixed {
      position: fixed;
      top: 0;
      opacity: 0.97;
      left: 0;
      display: block;
    }

    .p2p_class_nav ul {
      display: flex;
      width: 1246px;
      height: 100%;
      margin: 0 auto;
      justify-content: flex-start;
      padding: 0;
      font-size: 14px;
      color: #111;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
    }

    .p2p_class_nav ul li {
      height: 100%;
      margin-right: 39px;
      text-align: center;
    }

    .p2p_class_nav ul li a {
      color: inherit;
      display: block;
      height: 100%;
      padding-top: 50px;
      font-size: 15px;
      letter-spacing: -0.23px;
      text-decoration: none;
    }

    /* // 상단 네비게이션 메뉴바 */

    /* 댓글작성 */
    .inputReview {
      display: flex;
      margin-top: 1rem;
      border-radius: 6px;
      box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.2);
    }

    .inputReview textarea {
      resize: none;
      width: 88%;
      padding: 10px;
      border: none;
      border-radius: 6px;
    }

    .inputReview textarea:focus {
      outline: 0;
    }

    .inputReview button {
      width: 12%;
      border: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: rgb(250, 190, 0);
    }

    .inputReview button:focus {
      outline: 0;
    }

    .inputReview button:hover {
      cursor: pointer;
    }

    /* 경력 인증 */
    .iclass1 {
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;

    }

    .iclass1 span i {
      font-size: 2rem;
      margin-right: 5px;
      color: rgb(250, 190, 0);
    }

    /* 댓글 별점 모달 */
    .cmt_modal {
      border: 10px solid rgb(250, 190, 0);
      position: fixed;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.2);
      padding: 30px;
      display: flex;
      /* 모달 가운데 오게 하기 */
      left: 50%;
      top: 50%;
      width: 40%;
      margin-left: -20%;
      height: 150px;
      margin-top: -75px;
    }

    .modal_container {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.4);
    }

    .cmt_modal div{
      height: 150px;
      line-height: 150px;

    }

    .modal_title{
      width: 200px;
      font-size: 3rem;
    }

    .modal_star{
      font-size: 3rem;
      color: rgb(250, 190, 0);
    }    
    .modal_star i:hover{
      cursor: pointer;
    }

    .star_btn{
      background-color: rgb(250, 190, 0);
      border-radius: 10px;
      margin-left: 10px;
      width: 80px;
      height: 80px;
      border: none;
      outline: 0;
      font-size: 1.3rem;
    }

    .star_btn:hover{
      cursor: pointer;

    }
    
    .snsNone{
   	  opacity:0.1;
    }