@charset "UTF-8";
body,html{
margin:0;
padding:0;
width:100%;
}
/* jua 폰트 */
.font_jua{
font-family: 'Jua', sans-serif;
color: black;
}
/* noto 폰트 */
.font_noto{
font-family: 'Noto Sans KR', sans-serif;
}
/*리스트 NavBox*/
.List-NavBox{ 
position: relative;
margin: 0 auto;
width: 80%
}
/*리스트Section*/
.Lsit-Saction{
margin: 0 auto;
width: 1306px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

}
/*크롬에서 버튼 클릭시 테두리 없애기*/
*:focus { outline:none; }
/*리스트 체크박스 크기조절*/
.Lsit-checkbox-size{
zoom: 1.5;
margin:0;
}
.checkbox{
display: inline-block;
margin: 1.2rem 0 3rem 0;
font-size: 12px;
display: flex;
justify-content: space-between;
}
.checkbox > input.checkbox_css{
margin:0;
}
.btn-group{
float: right;
}
/*썸네일 영역*/
.list_contents_img_index{
width: 100%; 
object-fit: fill; 
height: 100%;
transition: all 0.6s
}
/*이미지 div태그*/
.list_img_div{
overflow: hidden;
box-shadow: 0 0 1rem rgb(0,0,0,0.7);
height: 12.5rem;
width: 20rem;
object-fit: cover;
}
/*이미지 호버시 확대효과*/
.list_contents_img_index:hover{
transform: scale(1.2);
}
/* 내용 설명 */
.list_explain_index{
margin: 0.2rem 0rem;
}
/* 손바닥 사진 */
.list_rank_index{
width: 1.3rem; 
object-fit: cover; 
}
/* 별 img */
.list_star_container_index > img{
margin: 0 -0.2rem;
width: 1.3rem; 
height: 1.3rem;
object-fit: cover;
}
/* 선택 사진 */
.list_choice_img_index{
width: 1.5rem; 
height: 1.5rem;
object-fit: cover; 
}
/*마진값조정*/
.list_contents_marign{
text-align: center;
}
.list_contents_marign > p{
font-weight: bold;
font-size: 15px;
margin-top: 10px;	
}
/*페이지네이션 가운데 정렬*/
.pagination{    
display: flex;
justify-content: center;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  border-radius: 10px;
  justify-content: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {background-color: #FABE00; color: white;}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

/*썸네일 간격및 크기조정*/
.productOne{
text-decoration: none;
margin: 0px 3.6rem 5rem 3.6rem;
}

/*검색박스 전체div*/
.list_search_wrap{
width: fit-content;
height: 8rem;
margin: auto;
}
/* 검색박스 <>  */
.list_search_Mainhead {
color: #fabe00;
font-size: 4.5rem;
float: left;
line-height: 5.5rem;
}
/* 검색박스 */
.list_searchbox_Mainhead{
border-bottom: 0.2rem solid white;
font-size: 3rem;
float: left;
margin-top: 0.8rem;
width: 65rem;
}
/* 검색 인풋텍스트(밑줄만생기게 만들고 사이즈조정) */
.list_searchtext_Mainhead{
border-bottom: #fabe00 0.1rem solid;
border-left: none;
border-right: none;
border-top: none;
font-size: 2.5rem;
width: 95%;
text-align: center;
}  
/*돋보기 이미지 css*/
.list_searchbox_Mainhead > a > img{
float: right; 
width: 2.3rem; 
margin-top: 1.3rem;
}
/*검색결과 span*/
.NavBox_Span{
float: left;
font-size: 2rem;
}
/*검색결과 키 애니메이션*/
.container{
text-align: center;
width: 60%;
left:20rem;
margin-left: 18.6rem;
}   
/*span 속성 조정*/
.container span{
text-transform: uppercase; /*글자 대문자로 통일*/
display: block;
}
/*text1 옵션*/
.text1{
color: white;
font-size: 2rem;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 20px;
background: #fabe00;
position: relative;
border: 1px solid ;
animation: text 3s 1;
border-radius: 10rem;
}
/*text2 옵션*/
.text2{
font-size: 1.8rem;
color: #fabe00;
}
@keyframes text { /*애니메이션 효과 미디어쿼리랑 사용법은 비슷함*/
	0%{  /*0% 일때*/
	color: black;
	margin-bottom: -40px;
	}
	30%{  /*30% 일때*/
	letter-spacing: 25px;
	margin-bottom: -40px;
	}
	85%{  /*85% 일때*/
	letter-spacing: 8px;
	margin-bottom: -40px;
	}
}