@charset "UTF-8";
html,
      body {
      width: 100%;
      padding: 0;
      margin: 0;
      }

      /*프로필 영역*/
      .profile_myPage_profile {
      position: relative;
      width: 696px;
      margin: 0 auto;
      }
      .profile_myPage_profile h3 {
      font-size: 40px;
      color: #272d32;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      padding: 76px 0 36px 0;
      border-bottom: 3px #000 solid;
      }
      .profile_myPage_profile .profileInfo_myPage_profile {
      position: relative;
      width: 100%;
      overflow: hidden;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .picUpload_myPage_profile .upload_myPage_profile > input {
      position: absolute;
      left: 0;
      top: 0;
      width: 39px;
      height: 39px;
      z-index: 2;
      } 
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile {
      text-align: center;
      }
      .table_myPage_profile {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;
      word-break: break-all;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .th_myPage_profile {
      padding: 22px 0;
      vertical-align: top;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .th_myPage_profile span {
      font-size: 16px;
      color: #272d32;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -1px;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile >tbody > tr> td {
      position: relative;
      font-size: 13px;
      color: #9d9d9d;
      font-weight: 300;
      line-height: 1.4;
      padding: 12px 25px 12px 0;
      letter-spacing: -1px;
      border-bottom: 1px #e5e5e5 solid;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile >tbody > tr> td > .btnApp_myPage_profile > input {
      height: 38px;
      line-height: 38px;
      font-size: 13px;
      color: #6c6d70;
      font-weight: 300;
      border-radius: 5px;
      outline: none;
      }
      .profile_th_myPage_profile {
      border-bottom: 1px #e5e5e5 solid;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .btnApp_myPage_profile {
      position: relative;
      padding: 0 112px 0 0;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .btnApp_myPage_profile .pAppBtn_myPage_profile {
      position: absolute;
      right: 40px;
      top: 9px;
      width: 100px;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .btnApp_myPage_profile:after {
      content: "";
      display: block;
      clear: both;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .addTxt_myPage_profile {
      font-size: 13px;
      color: #9d9d9d;
      font-weight: 300;
      line-height: 1.4;
      padding: 10px 0 0 0;
      letter-spacing: -1px;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile >tbody > tr:last-child td {
      border: 0;
      }
      .profile_myPage_profile .profileInfo_myPage_profile .table_myPage_profile .btnApp_myPage_profile {
      position: relative;
      padding: 0 112px 0 0;
      }

      .phone_modify_profile {
      background-color: #fabe00;
      color: white;
      padding: 5px;
      visibility: none;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      outline: none;
      }
   
      /* 마케팅 수신 동의 영역*/
      .profile_myPage_profile .noticeSet_myPage_profile {
      width: 100%;
      margin-top: 35px;
      border-top: 3px #000 solid;
      overflow: hidden;
      }
      .profile_myPage_profile .noticeSet_myPage_profile .tit_myPage_profile {
      font-size: 18px;
      color: #272d32;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -1px;
      padding: 30px 0 0 0;
      font-family: jua;
      }
      .profile_myPage_profile .noticeSet_myPage_profile .nbox_myPage_profile {
      border: 1px #d4d4d4 solid;
      text-align: center;
      padding: 15px 0;
      border-radius: 10px;
      }
      .profile_myPage_profile .noticeSet_myPage_profile .nbox_myPage_profile > ul > li {
      display: inline-block;
      padding: 0 20px;
      }
      .custom-checkbox_myPage_profile {
      position: relative;
      z-index: 1;
      }
      .profile_myPage_profile .noticeSet_myPage_profile .nbox_myPage_profile ul li .custom-checkbox_myPage_profile label {
      font-size: 14px;
      color: #6c6d70;
      letter-spacing: -1px;
      vertical-align: middle;
      }
      /* 저장하기 버튼 */
      .joinFinBtn_myPage_profile {
      display: table;
      width: 696px;
      height: 50px;
      background-color: #fabe00;
      border-radius: 10px;
      margin: 40px 0 0 0;
      overflow: hidden;
      text-align: center;
      font-family: jua;
      }
      .joinFinBtn_myPage_profile a {
      text-decoration: none;
      color: white;
      vertical-align: middle;
      }
      /* checkbox custom */
      .checkbox_myprofile+label {
      margin: 0.2em;
      cursor: pointer;
      padding: 0.2em;
      }
      .checkbox_myprofile {
      display: none;
      margin: 0.2em;
      }
      .checkbox_myprofile+label:before {
      content: "\2714";
      border: 0.1em solid#000000;
      border-radius: 0.2em;
      display: inline-block;
      width: 1em;
      height: 1em;
      padding-left: 0.2em;
      padding-bottom: 0.3em;
      margin-right: 0.2em;
      vertical-align: bottom;
      color: transparent;
      transition: .2s;
      }
      .checkbox_myprofile+label:active:before {
      transform: scale(0);
      }
      .checkbox_myprofile:checked+label:before {
      background-color: #fabe00;
      border-color: #fabe00;
      color: #fff;
      }