@charset "UTF-8";
body,html{
padding: 0;
margin: 0;
width: 100%;
}
/* jua 폰트 */
.font_jua{
font-family: 'Jua', sans-serif;
}
/* 추천 능력자들 최고 부모 div */
.main_container_index{
margin-bottom: 70px;
}
/* 추천 능력자들 제목 */
.main_title_index{
font-family: 'Black Han Sans', sans-serif;
font-style: italic;
font-size: 3em;
margin-left: auto;
margin-right: auto;
width: fit-content;
display: block;
margin-top: 45px;
}
/* 4개를 감싸는 ul 태그 */
.main_contents_container_index{
text-align: center;
}
/* 별 img */
.main_star_container_index > img{
margin: 0 -2px;
width: 13px; 
height: 13px;
object-fit: cover;
}
/* ul의 li 태그[사람 한명 한명] */
.main_contents_index{
list-style: none;
display: inline-block;
width: 300px;
}
.main_contents_index:hover{
cursor:pointer;
}
/* 썸네일 사진 */
.main_contents_img_index{
width: 280px; 
height: 200px; 
border-radius: 5%;
box-shadow: 0 0 10px rgb(0,0,0,0.7);
object-fit: cover; 
}
/* 내용 설명 */
.main_explain_index{
margin: 2px 0px;
}
/* 손바닥 사진 */
.main_rank_index{
width: 18px; 
height: 27px;
object-fit: cover; 
}
/* 선택 사진 */
.main_choice_img_index{
width: 15px; 
height: 15px;
object-fit: cover; 
}
.bx-wrapper{position: relative;}
.bx-viewport div{height: 280px }
/*슬라이드버튼*/
.bx-controls-direction{font-size: 50px;}
.bx-controls-direction a {
position: absolute; 
top: 50%; 
display: block; 
width: fit-content; 
height: fit-content; 
overflow: hidden;
text-decoration: none;
transform: translateY(-50%); color: #5a5a5a; }/*글자를 감추기 위해 크기를 100px(before 크기)로 맞추고 overflow:hidden 적용시켜준다 */
.bx-controls-direction .bx-prev {
left: 10%;
}
.bx-controls-direction .bx-next{
right: 10%;
}
.bx-controls-direction .bx-prev:before{
content: "\e93d"; font-family: "xeicon"; /*검사창에서 xi-angle-left-thin:before 를보면 content: "\e93d" 를 가지고 있으므로 적용 시켜준다*/
margin-left : 110px;
}
.bx-controls-direction .bx-next:before{
content: "\e940"; font-family: "xeicon"; /*검사창에서 xi-angle-left-thin:before 를보면 content: "\e93d" 를 가지고 있으므로 적용 시켜준다*/
margin-right : 110px;
}
.main_star_container_index > .fa-star{
  color:rgb(250,190,0);
}

.main_star_container_index > .fa-star:not(:first-child){
  margin-left:-5px;
}

.main_star_container_index > .fa-star-half-alt{ 
  color:rgb(250,190,0);
}

.main_star_container_index > .fa-star-half-alt:not(:first-child){	
  margin-left:-5px;
}
/*페이징*/
.bx-pager{position: absolute; left: 0; bottom: 92; width: 100%; text-align: center;}
.bx-pager div{display: inline-block; padding: 0 5px;} /*가운데 정렬해놓은상태에서 여백주기위해 양쪽에 5px씩준다(한쪽에만 주면 기울어짐)*/
.bx-pager div a {display: block; width: 24px; height: 3px; background: #999; font-size: 0; color: transparent;}/*block 구조라 inline속성넣어주고 폰트(1,2,3)사이즈 0하고 투명하게(transparent)한다*/
.bx-pager div a.active {background: #000;}