@charset "UTF-8";
body,html{
margin:0;
padding:0;
width:100%;
}
/* 회원가입 폼 가장자리 틀  */
.signupbox_signup{
border: 9px solid #fabe00;
width: 620px;
border-radius: 70px 70px 70px 70px;
margin: 0 auto;
text-align: center;
padding-bottom: 23px;
}
/* 니즈 잇 로고 이미지 */
.signup_img_signup{
padding-top: 45px;
width: 260px;
filter: drop-shadow(-4px 5px 3px #808080);
padding-bottom: 25px;
}
/* 정보 텍스트 입력창 */
.signup_in{
border: 3px solid #fabe00;
border-radius: 7px 7px 7px 7px;
height: 30px;
width: 550px;
font-size: 20px;
margin-bottom: 20px;
}
/* 버튼들 DIV (버튼아님 버튼 프레임임) */
.buttons_signup{
padding-top: 5px;
padding-left:20px;
height: 50px;
padding-bottom: 10px;
}
/* 버튼 */
.signup_button_signup{
float:left;
width: 560px;
height: 40px;
text-align: center;
line-height: 45px;
margin-left: 10px;
border-radius: 15px;
font-size: 25px;
border-radius: 7px 7px 7px 7px;
color: white;
background-color: #fabe00;
font-family: jua;
outline: 0;
border: none;
}

.cfBtn{
float:left;
width: 60px;
height: 40px;
text-align: center;
line-height: 45px;
margin-left: 10px;
border-radius: 15px;
font-size: 25px;
border-radius: 7px 7px 7px 7px;
color: white;
background-color: #e2e2e2;
font-family: jua;
outline: 0;
border: none;
pointer-events:none;"
}

.cfBtn:hover{
cursor: pointer;
opacity: 0.6;
}

.signup_button_signup:hover{
cursor: pointer;
opacity: 0.6;
}
/* 시간제한 */
.timelimit_signup{
font-size: 22px;
font-family: jua;
color:#fabe00;
}
.phone_number_signup{
border: 3px solid #fabe00;
border-radius: 7px 7px 7px 7px;
height: 30px;
width: 550px;
font-size: 20px;
margin-bottom: 15px;
}
/*인풋 창 검은줄 없애기*/
input:focus { outline:none; }
.dpck_ph{
position: absolute;
right: 30px;
top: -4px;
width: fit-content;
margin-top: 6px;
margin-right: 230px;
font-family: jua;
font-size: 22px;
}
.color_black{
color: black;
}
.short_input{
width:240px; 
float: left; 
margin-left: 30px; 
}
.ph_cover{
   position: relative;
}