<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "managerMapper" >

 
 	<resultMap type="Forbidden" id="forbiddenResultSet">
		<result property="fword" column="FORBIDDEN_WORD"/>
		<result property="fdate" column="FORBIDDEN_DATE"/>
	</resultMap>
	
	<resultMap type="User" id="userResultSet">
		<id property="email" column="USER_EMAIL" />
		<result property="pwd" column="USER_PASSWORD" />
		<result property="name" column="USER_NAME" />
		<result property="email" column="USER_EMAIL" />
		<result property="phone" column="USER_PHONE" />
		<result property="enrollDate" column="USER_ENROLLDATE" />
		<result property="updateDate" column="USER_UPDATEDATE" />
		<result property="status" column="USER_STATUS" />
		<result property="marketingT" column="USER_MARKETING_T" />
		<result property="marketingE" column="USER_MARKETING_E" />
	</resultMap>

	<resultMap type="UserMaster" id="userMasterResultSet">
		<id property="mNickname" column="MASTER_NICKNAME" />
		<result property="email" column="USER_EMAIL" />
		<result property="mRankname" column="MASTER_RANKNAME" />
		<result property="mProPicRe" column="MASTER_PROFILE_PIC_RE" />
		<result property="mCategory" column="MASTER_CATEGORY" />
		<result property="mIdPicRe" column="MASTER_ID_PIC_RE" />
		<result property="mWorkDay" column="MASTER_WORKDAY" />
		<result property="mWorkStyle" column="MASTER_WORKSTYLE" />
		<result property="mStartTime" column="MASTER_STARTTIME" />
		<result property="mEndTime" column="MASTER_ENDTIME" />
		<result property="mStar" column="MASTER_STAR" />
	</resultMap>
	
	<resultMap type="UserAccess" id="userAccessResultSet">
		<id property="uAccessnum" column="USER_ACCESS_NUM" /> 
		<result property="uEmail" column="USER_EMAIL" />
		<result property="uName" column="USER_NAME" />
		<result property="uRankName" column="MASTER_RANKNAME" />
		<result property="uIp" column="USER_IP" />
		<result property="uAccessDate" column="ACCESS_DATE" />
	</resultMap>

	<resultMap type="UserBean" id="UserBeanMap">
		<collection property="user" resultMap="userResultSet" />
		<collection property="userMaster" resultMap="userMasterResultSet" />
		<collection property="userAccess" resultMap="userAccessResultSet" />
	</resultMap>
	
	
	<resultMap type="UserBuyList" id="UserBuyListResultSet">
		<id property="num" column="USER_BUY_NUM" />
		<result property="email" column="USER_EMAIL" />
		<result property="date" column="USER_BUY_DATE" />
		<result property="master" column="USER_BUY_MASTER" />
		<result property="title" column="USER_BUY_TITLE" />
		<result property="money" column="USER_BUY_MONEY" />
		<result property="refund" column="USER_BUY_REFUND" />
	</resultMap>
	
	<resultMap type="UserWithdraw" id="UserWithdrawResultSet">
		<id property="num" column="USER_WITHDRAW_NUM" />
		<result property="date" column="USER_WITHDRAW_DATE" />
		<result property="email" column="USER_EMAIL" />
		<result property="name" column="USER_NAME" />
		<result property="money" column="USER_MONY" />
		<result property="bankno" column="USER_BANKNO" />
		<result property="bank" column="USER_BANK" />
	</resultMap>
	
	<!-- 금칙어 추가 -->
	<insert id="insertWords" parameterType="Forbidden"> 
		INSERT INTO FORBIDDEN 
		VALUES(#{fword},default)
	</insert>	
	
	<!-- 금칙어 삭제 -->
	<delete id="deleteWords" parameterType="Forbidden"> 
		DELETE FROM FORBIDDEN 
		WHERE FORBIDDEN_WORD = #{fword}
	</delete>	
	
	<!-- 금칙어 검색 -->
	<select id="searchWords" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN 
		WHERE FORBIDDEN_WORD LIKE '%' ||  #{fword} || '%'
	</select>
	
	<!-- 금칙어 확인-->
	<select id="checkWords"  parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM FORBIDDEN 
		WHERE FORBIDDEN_WORD =  #{fword}
	</select>
	
	<!-- 금칙어 날짜 검색 -->
	<select id="dateWords" parameterType="hashmap" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN 
		WHERE FORBIDDEN_DATE BETWEEN TO_CHAR(#{preday})
		AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
	</select>
	
	<!-- ㄱ 초성 -->	
	<select id="searchGa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(1) and NCHR(45207)
	</select>	
		
	<!-- ㄴ 초성 -->	
	<select id="searchNa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(45208) and NCHR(45795)
	</select>
	
	<!-- ㄷ 초성 -->	
	<select id="searchDa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(45796) and NCHR(46971)
	</select>
	
	<!-- ㄹ 초성 -->	
	<select id="searchLa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(46972) and NCHR(47559)
	</select>
	
	<!-- ㅁ 초성 -->	
	<select id="searchMa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(47560) and NCHR(48147)
	</select>
	
	<!-- ㅂ 초성 -->	
	<select id="searchBa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(48148) and NCHR(49323)
	</select>
	
	<!-- ㅅ 초성 -->	
	<select id="searchSa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(49324) and NCHR(50499)
	</select>
	
	<!-- ㅇ 초성 -->	
	<select id="searchAa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(50500) and NCHR(51087)
	</select>
	
	<!-- ㅈ 초성 -->	
	<select id="searchJa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(51088) and NCHR(52263)
	</select>
	
	<!-- ㅊ 초성 -->	
	<select id="searchCha" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(52264) and NCHR(52851)
	</select>
	
	<!-- ㅋ 초성 -->	
	<select id="searchKa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(52852) and NCHR(53439)
	</select>
	
	<!-- ㅌ 초성 -->	
	<select id="searchTa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(53440) and NCHR(54027)
	</select>
	
	<!-- ㅍ 초성 -->	
	<select id="searchPa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(54028) and NCHR(54615)
	</select>
	
	<!-- ㅎ 초성 -->	
	<select id="searchHa" parameterType="Forbidden" resultMap="forbiddenResultSet">
		SELECT * FROM FORBIDDEN  
		WHERE FORBIDDEN_WORD BETWEEN NCHR(54616) and NCHR(55203)
	</select>
	
	<!-- 유저 리스트 갖고오기 -->
	<select id="getUser" resultMap="userResultSet">
		SELECT * FROM NEEZ_USER
	</select>


	<!-- 관리자 구매확정 리스트 -->
	<select id="getManagerBuyList" parameterType="hashmap" resultMap="UserBuyListResultSet">
		SELECT *
		FROM BUYLIST
	<!-- 임의 지정 -->
 	  <if test="!preday.equals('')">
		WHERE USER_BUY_DATE BETWEEN TO_CHAR(#{preday})
		AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
	  <if test="selectBox eq 2">
		AND USER_BUY_MASTER = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 3">
		AND USER_EMAIL = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 4">
		AND USER_BUY_TITLE = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  </if>
	</select>
	
	<!-- 관리자 구매확정 리스트 페이징 전용 카운트 -->
	<select id="getManagerBuyListCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT (*)
		FROM BUYLIST
	  <!-- 임의 지정 -->
 	  <if test="!preday.equals('')">
		WHERE USER_BUY_DATE BETWEEN TO_CHAR(#{preday})
		AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
	  <if test="selectBox eq 2">
		AND USER_BUY_MASTER = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 3">
		AND USER_EMAIL = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 4">
		AND USER_BUY_TITLE = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  </if>
	</select>
	
	<select id="getUserWithdrawList" parameterType="UserWithdraw" resultMap="UserWithdrawResultSet">
		SELECT *
		FROM WITHDRAW
		ORDER BY USER_WITHDRAW_NUM DESC
	</select>
	
	<select id="getUserWithdrawListCount" parameterType="UserWithdraw" resultType="_int">
		SELECT COUNT(*)
		FROM WITHDRAW
		ORDER BY USER_WITHDRAW_NUM DESC
	</select>
	
	<!--  환불확정 리스트 -->
	<select id="getRefundList" parameterType="hashmap" resultMap="UserBuyListResultSet">
		SELECT *
		FROM BUYLIST
		WHERE USER_BUY_REFUND = 'Y'
	<!-- 임의 지정 -->
 	  <if test="!preday.equals('')">
		AND USER_BUY_DATE BETWEEN TO_CHAR(#{preday})
		AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
	  <if test="selectBox eq 2">
		AND USER_BUY_MASTER = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 3">
		AND USER_EMAIL = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 4">
		AND USER_BUY_TITLE = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  </if>
	</select>
	
	<!-- 환불리스트 카운트 -->
	<select id="getRefundCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM BUYLIST
		WHERE USER_BUY_REFUND = 'Y'
		<!-- 임의 지정 -->
 	  <if test="!preday.equals('')">
		AND USER_BUY_DATE BETWEEN TO_CHAR(#{preday})
		AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
	  <if test="selectBox eq 2">
		AND USER_BUY_MASTER = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 3">
		AND USER_EMAIL = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  <if test="selectBox eq 4">
		AND USER_BUY_TITLE = #{searchBox}
		ORDER BY USER_BUY_NUM DESC
 	  </if>
 	  </if>
	</select>

	<!-- 능력자 정보 가져오기 -->
	<select id="getMaster" parameterType="User" resultMap="userMasterResultSet">
		SELECT *
		FROM NEEZ_MASTER
	</select>

	<!-- 유저 접속기록 갖고오기 -->
	<select id="getUserAccess" parameterType="hashmap" resultMap="userAccessResultSet">
		SELECT * FROM USER_ACCESS
		
	<if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'>
	</if>
	
	<if test='search_way.equals("email") and !search_box.equals("")'>
		WHERE USER_EMAIL LIKE #{search_box}
	</if>
	
	<if test='search_way.equals("rank") and !search_box.equals("")'>
		WHERE MASTER_RANKNAME LIKE #{search_box}
	</if>
	
	<if test='search_way.equals("name") and !search_box.equals("")'>
		WHERE USER_NAME LIKE #{search_box}
	</if>
	
	 <if test='!search_box.equals("") and !buttonday.equals("")'>
		AND
	</if>
	
	 <if test='search_box.equals("") and !buttonday.equals("")'>
		WHERE
	</if>
	
	<if test='!search_box.equals("") and !preday.equals("")'>
		AND
	</if>
	
	 <if test='search_box.equals("") and !preday.equals("")' >
		WHERE
	</if>
	
	<if test='buttonday.equals("1")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("2")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE-7,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("3")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE-15,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("4")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-2),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("5")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-4),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("6")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-7),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='!preday.equals("")'>
		ACCESS_DATE BETWEEN TO_CHAR(#{preday})
        AND TO_CHAR(#{postday})
	</if>
	
		ORDER BY USER_ACCESS_NUM DESC
	</select>
	
	<!-- 유저 접속기록 카운트 갖고오기 -->
	<select id="getUserAccessCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT (*) FROM USER_ACCESS
		
	<if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'>
	</if>
	
	<if test='search_way.equals("email") and !search_box.equals("")'>
		WHERE USER_EMAIL LIKE #{search_box}
	</if>
	
	<if test='search_way.equals("rank") and !search_box.equals("")'>
		WHERE MASTER_RANKNAME LIKE #{search_box}
	</if>
	
	<if test='search_way.equals("name") and !search_box.equals("")'>
		WHERE USER_NAME LIKE #{search_box}
	</if>
	
	 <if test='!search_box.equals("") and !buttonday.equals("")'>
		AND
	</if>
	
	 <if test='search_box.equals("") and !buttonday.equals("")' >
		WHERE
	</if>
	
	<if test='!search_box.equals("") and !preday.equals("")'>
		AND
	</if>
	
	 <if test='search_box.equals("") and !preday.equals("")' >
		WHERE
	</if>
	
	<if test='buttonday.equals("1")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("2")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE-7,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("3")'>
		ACCESS_DATE BETWEEN TO_CHAR(SYSDATE-15,'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("4")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-2),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("5")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-4),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='buttonday.equals("6")'>
		ACCESS_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-7),'YYYY.MM.DD')
        AND TO_CHAR(SYSDATE+0.99999,'YYYY.MM.DD')
	</if>
	
	<if test='!preday.equals("")'>
		ACCESS_DATE BETWEEN TO_CHAR(#{preday})
        AND TO_CHAR(#{postday})
	</if>
		ORDER BY USER_ACCESS_NUM DESC
	</select>
	
	<select id="getUserList" resultMap="UserBeanMap" parameterType="hashmap">
		SELECT * 
		FROM NEEZ_USER NU
		LEFT JOIN NEEZ_MASTER NM ON (NU.USER_EMAIL = NM.USER_EMAIL)
        LEFT JOIN       
        (
            SELECT USER_EMAIL, MAX(ACCESS_DATE) AS ACCESS_DATE
            FROM USER_ACCESS
            GROUP BY USER_EMAIL
    	) NEW 
    	ON NU.USER_EMAIL = NEW.USER_EMAIL
		
		<if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'>
		</if>

		<if test='search_way.equals("email") and !search_box.equals("")'>
 			WHERE NU.USER_EMAIL LIKE #{search_box}
 		</if>
 		
 		<if test='search_way.equals("rank") and !search_box.equals("")'>
 			WHERE NM.MASTER_RANKNAME LIKE #{search_box}
 		</if>
 		
 		<if test='search_way.equals("name") and !search_box.equals("")'>
 			WHERE NU.USER_NAME LIKE #{search_box}
 		</if>
		
		<if test='search_way.equals("nickname") and !search_box.equals("")'>
 			WHERE NM.MASTER_NICKNAME LIKE #{search_box}
 		</if>
 		
<!--  		 <if test='!search_box.equals("") and !buttonday.equals("")'>
			AND
		</if>
		
		 <if test='search_box.equals("") and !buttonday.equals("")'>
			WHERE
		</if> -->
		
		<if test='!search_box.equals("") and !preday.equals("")'>
			AND
		</if>
		
		 <if test='search_box.equals("") and !preday.equals("")' >
			WHERE
		</if>

 		<if test="buttonday eq ''.toString() and !preday.equals('')">
			NU.USER_ENROLLDATE
			BETWEEN TO_CHAR(#{preday})
			AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
 		</if>
 		
		<if test='!check1.equals("")'>
		
			<if test='check1.contains("1") and !check1.contains("2") and !check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL AND NU.USER_STATUS = 'N')
	 		</if>
	 		
	 		<if test='check1.contains("2") and !check1.contains("1") and !check1.contains("3") '>
	 			AND (MASTER_NICKNAME IS NOT NULL AND NU.USER_STATUS = 'N')
	 		</if>
	 		
	 		<if test='check1.contains("3") and !check1.contains("1") and !check1.contains("2")'>
	 			AND NU.USER_STATUS = 'Y'
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("2") and !check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL OR MASTER_NICKNAME IS NOT NULL) AND NU.USER_STATUS = 'N'
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("3") and !check1.contains("2")'>
	 			AND (MASTER_NICKNAME IS NULL OR NU.USER_STATUS = 'Y')
	 		</if>
	 		
	 		<if test='check1.contains("2") and check1.contains("3") and !check1.contains("1")'>
	 			AND (MASTER_NICKNAME IS NOT NULL OR NU.USER_STATUS = 'Y')
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("2") and check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL OR MASTER_NICKNAME IS NOT NULL OR NU.USER_STATUS = 'Y')
	 		</if>
 		
 		</if>
 		
		<!-- <if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'> -->
		<if test='!check2.equals("")'>
 			AND MASTER_RANKNAME IN 
 			<foreach collection="check22" item="a" open="(" close=")" separator=",">
 				#{a}
 			</foreach>
 		</if>
 		
 		

	</select>
	
	<select id="getUserListCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT (*) 
        FROM NEEZ_USER NU
		LEFT JOIN NEEZ_MASTER NM ON (NU.USER_EMAIL = NM.USER_EMAIL)
        LEFT JOIN       
        (
            SELECT USER_EMAIL, MAX(ACCESS_DATE) AS ACCESS_DATE
            FROM USER_ACCESS
            GROUP BY USER_EMAIL
    	) NEW 
    	ON NU.USER_EMAIL = NEW.USER_EMAIL
		
		<if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'>
		</if>

		<if test='search_way.equals("email") and !search_box.equals("")'>
 			WHERE NU.USER_EMAIL LIKE #{search_box}
 		</if>
 		
 		<if test='search_way.equals("rank") and !search_box.equals("")'>
 			WHERE NM.MASTER_RANKNAME LIKE #{search_box}
 		</if>
 		
 		<if test='search_way.equals("name") and !search_box.equals("")'>
 			WHERE NU.USER_NAME LIKE #{search_box}
 		</if>
		
		<if test='search_way.equals("nickname") and !search_box.equals("")'>
 			WHERE NM.MASTER_NICKNAME LIKE #{search_box}
 		</if>
 		
<!--  		 <if test='!search_box.equals("") and !buttonday.equals("")'>
			AND
		</if>
		
		 <if test='search_box.equals("") and !buttonday.equals("")'>
			WHERE
		</if> -->
		
		<if test='!search_box.equals("") and !preday.equals("")'>
			AND
		</if>
		
		 <if test='search_box.equals("") and !preday.equals("")' >
			WHERE
		</if>

 		<if test="buttonday eq ''.toString() and !preday.equals('')">
			NU.USER_ENROLLDATE
			BETWEEN TO_CHAR(#{preday})
			AND TO_DATE(#{postday},'YYYY-MM-DD')+0.99999
 		</if>
 		
		<if test='!check1.equals("")'>
		
			<if test='check1.contains("1") and !check1.contains("2") and !check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL AND NU.USER_STATUS = 'N')
	 		</if>
	 		
	 		<if test='check1.contains("2") and !check1.contains("1") and !check1.contains("3") '>
	 			AND (MASTER_NICKNAME IS NOT NULL AND NU.USER_STATUS = 'N')
	 		</if>
	 		
	 		<if test='check1.contains("3") and !check1.contains("1") and !check1.contains("2")'>
	 			AND NU.USER_STATUS = 'Y'
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("2") and !check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL OR MASTER_NICKNAME IS NOT NULL) AND NU.USER_STATUS = 'N'
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("3") and !check1.contains("2")'>
	 			AND (MASTER_NICKNAME IS NULL OR NU.USER_STATUS = 'Y')
	 		</if>
	 		
	 		<if test='check1.contains("2") and check1.contains("3") and !check1.contains("1")'>
	 			AND (MASTER_NICKNAME IS NOT NULL OR NU.USER_STATUS = 'Y')
	 		</if>
	 		
	 		<if test='check1.contains("1") and check1.contains("2") and check1.contains("3")'>
	 			AND (MASTER_NICKNAME IS NULL OR MASTER_NICKNAME IS NOT NULL OR NU.USER_STATUS = 'Y')
	 		</if>
 		
 		</if>
 		
		<!-- <if test='buttonday.equals("") and preday.equals("") and postday.equals("") and search_box.equals("")'> -->
		<if test='!check2.equals("")'>
 			AND MASTER_RANKNAME IN 
 			<foreach collection="check22" item="a" open="(" close=")" separator=",">
 				#{a}
 			</foreach>
 		</if>
 		

	</select> 
	
	<select id="getUserListAllCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT (*) 
        FROM NEEZ_USER NU
		LEFT JOIN NEEZ_MASTER NM ON (NU.USER_EMAIL = NM.USER_EMAIL)
        LEFT JOIN       
        (
            SELECT USER_EMAIL, MAX(ACCESS_DATE) AS ACCESS_DATE
            FROM USER_ACCESS
            GROUP BY USER_EMAIL
    	) NEW 
    	ON NU.USER_EMAIL = NEW.USER_EMAIL
	</select> 	
	
	
	<!-- 금칙어 리스트 가져오기 -->
	<select id="fList" resultMap="forbiddenResultSet">
		SELECT FORBIDDEN_WORD
		FROM FORBIDDEN 
	</select>

</mapper>

