<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">

	<!-- parameterType : #{id}로 들어가는 매개변수의 타입 -->

	<resultMap type="User" id="userResultSet">
		<id property="email" column="USER_EMAIL"/>
		<result property="pwd" column="USER_PASSWORD"/>
		<result property="name" column="USER_NAME"/>
		<result property="email" column="USER_EMAIL"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="enrollDate" column="USER_ENROLLDATE"/>
		<result property="updateDate" column="USER_UPDATEDATE"/>
		<result property="status" column="USER_STATUS"/>
		<result property="marketingT" column="USER_MARKETING_T"/>
		<result property="marketingE" column="USER_MARKETING_E"/>
	</resultMap>
	
	
	<!-- 로그인 -->
	<select id="loginUser" parameterType="User" resultMap="userResultSet">
		<!-- 암호화 전 -->
		<!-- SELECT *
		FROM NEEZ_USER
		WHERE USER_EMAIL = #{email}
		AND USER_PASSWORD = #{pwd}
		AND USER_STATUS = 'N'-->
		
		<!--  암호화 후 -->
		SELECT *
		FROM NEEZ_USER
		WHERE USER_EMAIL = #{email}
		AND USER_STATUS = 'N'
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User"> 
		INSERT INTO NEEZ_USER
		VALUES(#{name},#{phone},#{email},#{pwd},default,default,default,default,default)
	</insert>
	
	<!-- 휴대폰번호 중복 체크 -->
	<select id="phoneCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM NEEZ_USER
		WHERE USER_PHONE = #{phone}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="emailCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM NEEZ_USER
		WHERE USER_EMAIL = #{email}
	</select>

	<!-- 휴대폰번호 변경 -->
	<update id="modifyPhone" parameterType="User">
		UPDATE NEEZ_USER
	 	SET USER_PHONE = #{phone}
	 	WHERE USER_EMAIL = #{email}
	</update>
  
  	<!-- 능력자 등록 -->
	<insert id="insertMaster"> 
		INSERT INTO NEEZ_MASTER (USER_EMAIL, MASTER_RANKNAME, MASTER_PROFILE_PIC_ORI, MASTER_PROFILE_PIC_RE, MASTER_NICKNAME, MASTER_CATEGORY, MASTER_ID_PIC_ORI, MASTER_ID_PIC_RE, MASTER_WORKDAY, MASTER_WORKSTYLE, MASTER_STARTTIME, MASTER_ENDTIME)
		VALUES(#{USER_EMAIL},default,#{MASTER_PROFILE_PIC_ORI},#{MASTER_PROFILE_PIC_RE},#{MASTER_NICKNAME},#{MASTER_CATEGORY},#{MASTER_ID_PIC_ORI},#{MASTER_ID_PIC_RE},#{MASTER_WORKDAY},#{MASTER_WORKSTYLE},#{MASTER_STARTTIME},#{MASTER_ENDTIME})
	</insert>
	
	 <!-- 능력자 학력 등록 -->
	<insert id="insertMasterSchool"> 
		INSERT INTO SCHOOL (USER_EMAIL, MASTER_HIGH, MASTER_UNIV, MASTER_UNIV_DEPT, MASTER_UNIV_PIC_ORI, MASTER_UNIV_PIC_RE, MASTER_UNIV2, MASTER_UNIV2_DEPT, MASTER_UNIV2_PIC_ORI, MASTER_UNIV2_PIC_RE)
		VALUES(#{USER_EMAIL},#{MASTER_HIGH},#{MASTER_UNIV},#{MASTER_UNIV_DEPT},#{MASTER_UNIV_PIC_ORI},#{MASTER_UNIV_PIC_RE},#{MASTER_UNIV2},#{MASTER_UNIV2_DEPT},#{MASTER_UNIV2_PIC_ORI},#{MASTER_UNIV2_PIC_RE})
	</insert>
	
	 <!-- 능력자 sns 등록 -->
	<insert id="insertMasterSns"> 
		INSERT INTO SNS (USER_EMAIL, MASTER_INSTAGRAM, MASTER_TWITTER, MASTER_BLOG, MASTER_GIT, MASTER_YOTUBUE1, MASTER_YOTUBUE2, MASTER_YOTUBUE3)
		VALUES(#{USER_EMAIL},#{MASTER_INSTAGRAM},#{MASTER_TWITTER},#{MASTER_BLOG},#{MASTER_GIT},#{MASTER_YOTUBUE1},#{MASTER_YOTUBUE2},#{MASTER_YOTUBUE3})
	</insert>
	
	 <!-- 능력자 자격증 등록 -->
	<insert id="insertMasterQfc"> 
		INSERT INTO QUALIFICATION (USER_EMAIL, MASTER_QUALIFICATION1, MASTER_QUALIFICATION1_PIC_ORI, MASTER_QUALIFICATION1_PIC_RE, MASTER_QUALIFICATION2, MASTER_QUALIFICATION2_PIC_ORI, MASTER_QUALIFICATION2_PIC_RE, MASTER_QUALIFICATION3, MASTER_QUALIFICATION3_PIC_ORI,  MASTER_QUALIFICATION3_PIC_RE, MASTER_QUALIFICATION4, MASTER_QUALIFICATION4_PIC_ORI, MASTER_QUALIFICATION4_PIC_RE, MASTER_QUALIFICATION5, MASTER_QUALIFICATION5_PIC_ORI,  MASTER_QUALIFICATION5_PIC_RE)
		VALUES(#{USER_EMAIL},#{MASTER_QUALIFICATION1},#{MASTER_QUALIFICATION1_PIC_ORI},#{MASTER_QUALIFICATION1_PIC_RE},#{MASTER_QUALIFICATION2},#{MASTER_QUALIFICATION2_PIC_ORI},#{MASTER_QUALIFICATION2_PIC_RE},#{MASTER_QUALIFICATION3},#{MASTER_QUALIFICATION3_PIC_ORI},#{MASTER_QUALIFICATION3_PIC_RE},#{MASTER_QUALIFICATION4},#{MASTER_QUALIFICATION4_PIC_ORI},#{MASTER_QUALIFICATION4_PIC_RE},#{MASTER_QUALIFICATION5},#{MASTER_QUALIFICATION5_PIC_ORI},#{MASTER_QUALIFICATION5_PIC_RE})
	</insert>
	
	<!-- 별명 중복 체크 -->
	<select id="nickCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM NEEZ_MASTER
		WHERE MASTER_NICKNAME = #{nickname}
	</select>
	
	<!-- 마케팅 수신동의 변경 -->
	<update id="marketing" parameterType="User">
		UPDATE NEEZ_USER
		SET USER_MARKETING_T = #{marketingT},
			USER_MARKETING_E = #{marketingE}
		WHERE USER_EMAIL = #{email}
	</update>
	
	<!-- 비밀번호 변경 -->
  	<update id="modifyPwd" parameterType="User">
		UPDATE NEEZ_USER
		SET USER_PASSWORD = #{pwd}
		WHERE USER_EMAIL = #{email}
	</update>
	
	<!-- 유저삭제 -->
	<update id="userDelete" parameterType="User">
		UPDATE NEEZ_USER
		SET USER_STATUS='Y'
		WHERE USER_EMAIL=#{email}
	</update>
	
	<insert id="reason" parameterType="hashmap">
		INSERT INTO REASON
		VALUES(#{email}, #{reason})
	</insert>
</mapper>
