<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>
   
   <!-- typeAliases -->
   <typeAliases>
      <typeAlias type="com.fp.neezit.user.model.vo.User" alias="User"/>
      <typeAlias type="com.fp.neezit.user.model.vo.UserMaster" alias="UserMaster"/>
      <typeAlias type="com.fp.neezit.user.model.vo.UserMasterSchool" alias="UserMasterSchool"/>
      <typeAlias type="com.fp.neezit.user.model.vo.UserMasterSns" alias="UserMasterSns"/>
      <typeAlias type="com.fp.neezit.user.model.vo.UserMasterQualifcation" alias="UserMasterQualifcation"/>
      <typeAlias type="com.fp.neezit.product.model.vo.Product" alias="Product"/>
      <typeAlias type="com.fp.neezit.product.model.vo.Reply" alias="Reply"/>
   </typeAliases>
   
   <!-- 
       environments 엘리먼트로 dataSource 등의 DB정보들을 작성했었다.
       => 스프링에서는 그 정보를 여기서는 안쓴다.
       root-context.xml에 작성하게 된다.(DataSource 등록은 서버 연동과 같이 이루어져야하기 때문에)
   -->
   <mappers>
      <mapper resource="mappers/user-mapper.xml"/>
      <mapper resource="mappers/product-mapper.xml"/>
   </mappers>


</configuration>